<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>

<h2>로그인 유저 : </h2>
<p sec:authentication="principal"></p>

<div sec:authorize="isAnonymous()" style="background-color:pink; padding:1em;">

    <p>로그인 성공!</p>

</div>

<div sec:authorize="isAuthenticated()" style="background-color:pink; padding:1em;">
    <a href="/logout">로그아웃</a>
</div>

<br><br>


</body>
</html>