<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <p>로그인페이지</p>
    <h2>로그인 유저 : </h2>
    <p sec:authentication="principal"></p>
    <div sec:authorize="isAnonymous()" style="padding:1em;">
        <a href="/oauth2/authorization/kakao">카카오 로그인</a>
        <!-- /oauth2/authorization/{registrationId}에 요청이 들어오면,
        스프링 시큐리티가 provider의 authorization-uri로 요청을 전달한다-->
        <br><br>
    </div>
    <div sec:authorize="isAuthenticated()" style="background-color:yellow; padding:1em;">
        <a href="/logout">로그아웃</a>
    </div>
    <div th:replace="fragments/footer :: footer" />
 <!-- /container -->

<br>
<a href="/guest">유저</a><br>
<a href="/user" sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')">매니저</a><br>
<a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">어드민</a><br>

<br>
<a href="/oauth/loginInfo">OAuth2 로그인 정보</a>
<a href="/loginInfo">로그인 정보</a>
</div>
</body>
</html>